<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>>
	<add name="MyConnection"
		 connectionstring="Data Source=VEGA\SQLEXPRESS;Initial Catalog=Latihan_db;integrated Security=True"
		 providerName="System.Data.sqlClient"/>
	</connectionStrings>
</configuration>